<section
  class="bg-white flex flex-col py-4 px-6 rounded-[25px] shadow-xl gap-4"
>
  <div class="flex">
    <div class="flex-1 flex gap-2 font-Poppins">
      <img src="../../../../assets/faculty-dashboard/BlueUsers.png" alt="" />
      <h4 class="text-3xl">Faculty</h4>
    </div>
    <input
      type="text"
      placeholder="SEARCH FACULTY"
      class="flex-1 rounded-full py-2 shadow-inner placeholder:text-center placeholder:font-bold box-shadow"
    />
  </div>
  <div class="flex justify-start">
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-black"
    >
      All
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-orange-400"
    >
      CCS
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-blue"
    >
      CEAS
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-pink-500"
    >
      CHTM
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-red-600"
    >
      CAHS
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-yellow-300"
    >
      CBA
    </button>
  </div>
  <div class="grid justify-items-start grid-cols-8 gap-5">
    <p class="uppercase col-span-2">Name</p>
    <p class="uppercase">College</p>
    <p class="uppercase">Department</p>
    <p class="uppercase">Position</p>
    <p class="uppercase">Employment</p>
    <p class="uppercase">Units</p>
    <p class="uppercase">Evaluation Score</p>

    <!-- DATA -->
    <div
      class="col-span-8 grid-cols-subgrid grid items-center border-l-4 border-red-600 justify-items-start gap-5 hover:bg-gray-200 p-1"
    >
      <div class="col-span-2">
        <div class="flex items-center gap-3">
          <img
            src="../../../../assets/profiles/ains.png"
            alt="ains"
            class="aspect-square w-[50px] h-[50px] rounded-full"
          />
          <div>
            <p>Ains Ooal Gown</p>
            <small class="leading-normal">ainsooalgownoverlord.com</small>
          </div>
        </div>
      </div>
      <p class="text-orange-400 font-bold">CCS</p>
      <p>BSCS</p>
      <p>Coordinator</p>
      <p>Full-Time</p>
      <p>23</p>
      <p>5.0</p>
    </div>
    <div
      class="col-span-8 grid grid-cols-subgrid items-center border-l-4 border-green justify-items-start gap-5 hover:bg-gray-200 p-1"
    >
      <div class="col-span-2">
        <div class="flex items-center gap-3">
          <img
            src="../../../../assets/profiles/ains.png"
            alt="ains"
            class="aspect-square w-[50px] h-[50px] rounded-full"
          />
          <div>
            <p>Ains Ooal Gown</p>
            <small class="leading-normal">ainsooalgownoverlord.com</small>
          </div>
        </div>
      </div>
      <p class="text-blue font-bold">CEAS</p>
      <p>BSed Math</p>
      <p>Coordinator</p>
      <p>Full-Time</p>
      <p>23</p>
      <p>5.0</p>
    </div>
    <div
      class="col-span-8 grid grid-cols-subgrid items-center border-l-4 border-gray-400 justify-items-start gap-5 hover:bg-gray-200 p-1"
    >
      <div class="col-span-2">
        <div class="flex items-center gap-3">
          <img
            src="../../../../assets/profiles/ains.png"
            alt="ains"
            class="aspect-square w-[50px] h-[50px] rounded-full"
          />
          <div>
            <p>Ains Ooal Gown</p>
            <small class="leading-normal">ainsooalgownoverlord.com</small>
          </div>
        </div>
      </div>
      <p class="text-red-500 font-bold">CAHS</p>
      <p>BSN</p>
      <p>Coordinator</p>
      <p>Full-Time</p>
      <p>23</p>
      <p>5.0</p>
    </div>
    <div
      class="col-span-8 grid grid-cols-subgrid items-center border-l-4 border-gray-400 justify-items-start gap-5 transition-all hover:bg-gray-200"
    >
      <div class="col-span-2">
        <div class="flex items-center gap-3">
          <img
            src="../../../../assets/profiles/ains.png"
            alt="ains"
            class="aspect-square w-[50px] h-[50px] rounded-full"
          />
          <div>
            <p>Ains Ooal Gown</p>
            <small class="leading-normal">ainsooalgownoverlord.com</small>
          </div>
        </div>
      </div>
      <p class="text-pink-500 font-bold">CHTM</p>
      <p>BSTM</p>
      <p>Coordinator</p>
      <p>Full-Time</p>
      <p>23</p>
      <p>5.0</p>
    </div>
    <div
      class="col-span-8 grid grid-cols-subgrid items-center border-l-4 border-gray-400 justify-items-start gap-5 hover:bg-gray-200 p-1"
    >
      <div class="col-span-2">
        <div class="flex items-center gap-3">
          <img
            src="../../../../assets/profiles/ains.png"
            alt="ains"
            class="aspect-square w-[50px] h-[50px] rounded-full"
          />
          <div>
            <p>Ains Ooal Gown</p>
            <small class="leading-normal">ainsooalgownoverlord.com</small>
          </div>
        </div>
      </div>
      <p class="text-yellow-300 font-bold">CBA</p>
      <p>BSBA</p>
      <p>Coordinator</p>
      <p>Full-Time</p>
      <p>23</p>
      <p>5.0</p>
    </div>
    <ng-content></ng-content>
  </div>
</section>
