<div class="fixed min-h-screen max-w-80 ma bg-blue rounded-r-3xl">
  <div class="bg-gradient-to-b from-greenBar to-blue p-4 rounded-tr-3xl">
    <img
      src="../../../../assets/img/Logo_mockup 1.png"
      alt=""
      class="aspect-square max-w-48"
    />
  </div>
  <app-nav [title]="'Admin Profile'"></app-nav>
  <app-nav [title]="'Program Analytics'"></app-nav>
  <app-nav [title]="'Faculty Members'"></app-nav>
  <app-nav [title]="'Faculty Schedules'"></app-nav>
  <app-nav [title]="'Program Projects'"></app-nav>
  <app-nav [title]="'Community Extension'"></app-nav>
  <app-nav [title]="'Evaluation'"></app-nav>
  <app-nav [title]="'Feedback'"></app-nav>
  <app-nav [title]="'About'"></app-nav>
</div>
