<aside class="fixed top-0 left-0">
    <div class="w-[233px] h-screen bg-gradient-to-b from-greenBar from-0% via-blue via-[180px] to-blue to-100% rounded-r-[25px]">
        <div class="w-[233px] pt-4 pb-10 flex justify-center items-center">
            <img src="../../../assets/img/Logo_mockup 1.png" class="w-[60%]">
        </div>
        <div class="faculty-side">
            <ul>
                <li><a>
                    <img src="../../../assets/faculty-dashboard/Person.png" class="faculty-dash-img">
                    Profile
                </a></li>
                <li><a>
                    <img src="../../../assets/faculty-dashboard/Signal.png" class="faculty-dash-img">
                    Analytics
                </a></li>
                <li><a>
                    <img src="../../../assets/faculty-dashboard/Project Management.png" class="faculty-dash-img">
                    Schedule
                </a></li>
                <li><a>
                    <img src="../../../assets/faculty-dashboard/Vector.png" class="faculty-dash-img">
                    Projects
                </a></li>
                <li><a>
                    <img src="../../../assets/faculty-dashboard/Mortarboard.png" class="faculty-dash-img">
                    Graduate Studies
                </a></li>
                <li><a>
                    <img src="../../../assets/faculty-dashboard/Diploma.png" class="faculty-dash-img">
                    Certifications
                </a></li>
                <li><a>
                    <img src="../../../assets/faculty-dashboard/Users.png" class="faculty-dash-img">
                    Community<br>Extensions
                </a></li>
                <li><a>
                    <img src="../../../assets/faculty-dashboard/Scatter Plot.png" class="faculty-dash-img">
                    Evaluation
                </a></li>
            </ul>
        </div>
    </div>
</aside>