<aside class="fixed top-0 left-0">
    <div class="w-[233px] h-screen bg-gradient-to-b from-greenBar from-0% via-blue via-30% to-blue to-100% rounded-r-[25px]">
        <div class="w-[233px] pt-4 pb-10 flex justify-center items-center">
            <img src="../../../assets/img/Logo_mockup 1.png" class="w-[60%]">
        </div>
        <ul>
            <li class="facultyTab">
                <img src="../../../assets/faculty-dashboard/Person.png">
                Profile
            </li>
            <li class="facultyTab">
                <img src="../../../assets/faculty-dashboard/Signal.png">
                Analytics
            </li>
            <li class="facultyTab">
                Schedule
            </li>
            <li class="facultyTab">
                Projects
            </li>
            <li class="facultyTab">
                Graduate Studies
            </li>
            <li class="facultyTab">
                Certifications
            </li>
            <li class="facultyTab">
                Community Extensions
            </li>
            <li class="facultyTab">
                Evaluation
            </li>
            <li class="facultyTab">
                Feedback
            </li>
            <li class="facultyTab">
                About
            </li>
        </ul>
    </div>
</aside>