<div class="bg-white flex flex-col px-4 py-2 rounded-[24px]">
  <h1>Faculty Management</h1>
  <div
    class="bg-[#F0F0F0] px-[16px] py-[24px] rounded-[16px] flex flex-col gap-4"
    id="contents"
  >
    <h4 class="border-b-2 border-black font-bold text-[24px]">COLLEGE</h4>
    <div class="grid grid-cols-5 gap-2 items-stretch">
      <app-gc-box
        [collegeAbbv]="'CCS'"
        [collegeTitle]="'College of Computer Studies'"
        [bgColor]="'#FF7A00'"
        [imgPath]="'../../../../assets/college-logo/ccs.png'"
      ></app-gc-box>
      <app-gc-box
        [collegeAbbv]="'CEAS'"
        [collegeTitle]="'College of Education, Arts and Sciences'"
        [bgColor]="'#0077CC'"
        [imgPath]="'../../../../assets/college-logo/ceas.png'"
      ></app-gc-box>
      <app-gc-box
        [collegeAbbv]="'CBA'"
        [collegeTitle]="'College of Business and Accountancy'"
        [bgColor]="'#FFDF00'"
        [imgPath]="'../../../../assets/college-logo/cba.png'"
      ></app-gc-box>
      <app-gc-box
        [collegeAbbv]="'CHTM'"
        [collegeTitle]="'College of Hospitality and Tourism Management'"
        [bgColor]="'#FF0082'"
        [imgPath]="'../../../../assets/college-logo/chtm.png'"
      ></app-gc-box>
      <app-gc-box
        [collegeAbbv]="'CAHS'"
        [collegeTitle]="'College of Allied Health Studies'"
        [bgColor]="'#FF0000'"
        [imgPath]="'../../../../assets/college-logo/cahs.png'"
      ></app-gc-box>
    </div>
    <div class="flex flex-row gap-4">
      <div class="flex-1">
        <h4 class="border-b-2 border-black font-bold text-[24px]">
          DEPARTMENT
        </h4>
      </div>
      <div class="flex-1">
        <h4 class="border-b-2 border-black font-bold text-[24px]">POSITION</h4>
      </div>
    </div>
    <h4 class="border-b-2 border-black font-bold text-[24px]">
      PERSONAL INFORMATION
    </h4>
    <form action="" class="flex flex-col gap-4">
      <div class="flex justify-center items-center gap-4">
        <img
          src="../../../assets/profiles/batman.jpg"
          alt=""
          class="aspect-square min-w-[100px]"
        />
        <input type="text" placeholder="EMAIL" class="flex-1" />
        <input type="text" placeholder="PHONE NUMBER" class="flex-1" />
        <input type="text" placeholder="BIRTHDATE" class="flex-1" />
      </div>
      <div class="flex justify-center items-center gap-4">
        <input type="text" placeholder="LASTNAME" class="flex-1" />
        <input type="text" placeholder="FIRSTNAME" class="flex-1" />
        <input type="text" placeholder="MIDDLENAME" class="flex-1" />
        <input type="text" placeholder="EXT. NAME" class="flex-1" />
      </div>
      <div class="flex justify-center items-center gap-4">
        <input type="text" placeholder="REGION" class="flex-1" />
        <input type="text" placeholder="PROVINCE" class="flex-1" />
        <input type="text" placeholder="CITY/MUNICIPALITY" class="flex-1" />
        <input type="text" placeholder="BARANGAY" class="flex-1" />
      </div>
      <div class="flex justify-center items-center gap-4">
        <input type="text" placeholder="GENDER" class="flex-1" />
        <input type="text" placeholder="CITY/LANGUAGE" class="flex-1" />
        <input type="text" placeholder="NATIONALITY" class="flex-1" />
      </div>
      <input type="submit" />
    </form>
  </div>
</div>
