<section class="bg-white flex flex-col rounded-xl shadow-lg transition-all">
  <div
    (click)="toggle()"
    [ngClass]="{
      'bg-white hover:bg-gray-300 rounded-xl': !member.isVisible,
      'bg-gray-300 rounded-t-xl': member.isVisible
    }"
    class="flex flex-row justify-between items-end gap-2 p-3"
  >
    <i
      [ngClass]="{
      '-rotate-90': !member.isVisible,
    }"
      class="fa-solid fa-chevron-down self-center transition-all"
    ></i>
    <h4 class="text-2xl font-bold">{{ member.name }}</h4>
    <p class="flex-1 font-semibold">{{ member.units }} Units</p>
    <span
      [ngClass]="{
        'bg-lightGreen': member.status === 'In-Class',
        'bg-red-600': member.status === 'Day-Off',
        'bg-slate-400': member.status === 'Unavailable'
      }"
      class="px-4 py-2 rounded-full text-white"
      >{{ member.status }}</span
    >
  </div>

  <div
    [ngClass]="{ hidden: !member.isVisible }"
    class="p-5 flex flex-row gap-3 transition ease-in-out delay-150"
  >
    <img
      width="100"
      height="100"
      ngSrc="../../../assets/profiles/{{ member.profileIMG }}.png"
      alt="{{ member.profileIMG }}"
      class="aspect-square laptop:w-1/3 laptopL:w-1/6 min-w-40 max-w-64 tablet:hidden laptopL:block"
    />
    <div class="flex flex-col flex-1">
      <div class="flex tablet:flex-row laptopL:flex-col">
        <img
          width="100"
          height="100"
          ngSrc="../../../assets/profiles/{{ member.profileIMG }}.png"
          alt="{{ member.profileIMG }}"
          class="aspect-square laptop:w-1/3 laptopL:w-1/6 min-w-40 max-w-64 tablet:block laptopL:hidden"
        />
        <div
          class="flex laptopL:justify-between tablet:flex-col laptopL:flex-row"
        >
          <p class="text-lg font-semibold">{{ member.employment }}</p>
          <app-date-select
            [id]="member.id"
            (params)="setDay($event)"
          ></app-date-select>
        </div>
      </div>
      <app-schedule-section [schedules]="schedules"> </app-schedule-section>
    </div>
  </div>
</section>
