<div
  class="min-h-screen p-5 max-w-screen-fourk ml-[250px] flex flex-col gap-3 text-blue"
>
    <div class="bg-white shadow-lg bg-opacity-70 w-full rounded-[25px] flex justify-between items-center px-5 ">
        <h1 class="font-Poppins font-semibold text-[2.5rem] py-2">Community Extensions</h1>
        <div class="flex flex-row space-x-4">
            <button class="bg-blue text-white font-Poppins font-semibold px-11 py-2 rounded-full">+Add</button>
        </div>
    </div>

    <h1 class="font-Poppins font-semibold text-[1.5rem] py-2">Latest Community Extensions</h1>
    <hr class="h-[2px] bg-black">

    <!-- Object this -->
    <div class="bg-white shadow-lg w-full rounded-[25px] flex flex-row overflow-hidden">
        <div class="bg-red-400 w-[25%] h-[280px]">
            <img src="../../../assets/comm-ex/commex.png" class=" w-full h-full">
        </div>
        <div class="ml-4 mt-4 w-[75%] pr-6">
            <h1 class="font-Poppins font-semibold text-[1.5rem]">iLoveYouVirus: CodeRED</h1>
            <div class="flex flex-row opacity-70 mb-3">
                <img src="../../../assets/faculty-dashboard/BlueVector.png" class="w-[20px] h-[20px] mr-[5px]">
                <h2 class="font-Poppins font-semibold text-[1rem]">February 14,2024</h2>
            </div>
            <p>What a day! Operation iLoveYouVirus:CodeRED was a major success! Thanks to everyone's effort, the harmless and love-inducing virus spread to a lot of people! Thanks to this virus, infected people got that extra bit of courage to express their heartfelt thoughts to people they hold dear. Love was really in the air!
                Our digital freedom wall got filled to the brim! Many notes expressing their love not just for their significant others but also to their friends, peers, and those they treat as family were posted. This proves that Valentine's Day is not only a day dedicated to romantic love but also platonic love.
            </p>
        </div>
    </div>
</div>