<div
  class="min-h-screen p-5 max-w-screen-fourk ml-[250px] flex flex-col gap-3 text-blue"
>
  <div
    class="bg-white shadow-lg p-4 bg-opacity-70 w-full rounded-[25px] flex justify-between items-center px-5"
  >
    <h1 class="font-Poppins font-semibold text-[2.5rem] py-2">
      Community Extensions
    </h1>
    <div class="flex flex-row space-x-4">
      <button
        class="bg-blue text-white font-Poppins font-semibold px-11 py-2 rounded-full"
      >
        +Add
      </button>
    </div>
  </div>

  <h1 class="font-Poppins font-semibold text-[1.5rem] py-2">
    Latest Community Extensions
  </h1>
  <hr class="h-[2px] bg-black" />

  <!-- Object this -->
  <div
    class="bg-white shadow-lg p-4 w-full rounded-[25px] flex flex-row overflow-hidden"
  >
    <div class="bg-red-400 w-[25%] h-[280px]">
      <img src="../../../assets/comm-ex/commex.png" class="w-full h-full" />
    </div>
    <div class="ml-4 mt-4 w-[75%] pr-6">
      <h1 class="font-Poppins font-semibold text-[1.5rem]">
        iLoveYouVirus: CodeRED
      </h1>
      <div class="flex flex-row opacity-70 mb-3">
        <img
          src="../../../assets/faculty-dashboard/BlueVector.png"
          class="w-[20px] h-[20px] mr-[5px]"
        />
        <h2 class="font-Poppins font-semibold text-[1rem]">February 14,2024</h2>
      </div>
      <p>
        What a day! Operation iLoveYouVirus:CodeRED was a major success! Thanks
        to everyone's effort, the harmless and love-inducing virus spread to a
        lot of people! Thanks to this virus, infected people got that extra bit
        of courage to express their heartfelt thoughts to people they hold dear.
        Love was really in the air! Our digital freedom wall got filled to the
        brim! Many notes expressing their love not just for their significant
        others but also to their friends, peers, and those they treat as family
        were posted. This proves that Valentine's Day is not only a day
        dedicated to romantic love but also platonic love.
      </p>
    </div>
  </div>
  <!-- Other -->
  <h1 class="font-Poppins font-semibold text-[1.5rem] py-2">
    Other Community Extensions
  </h1>
  <hr class="h-[2px] bg-black" />

  <!-- <div class="grid tablet:grid-co laptopL:grid-cols-3 gap-2">
    <div class="flex flex-col gap-2">
      <div
        class="bg-white min-h-96 rounded-xl shadow-lg p-3 flex flex-col gap-2 transition-all hover:scale-105 hover:shadow-xl"
      >
        <img src="../../../assets/comm-ex/commex.png" alt="" />
        <h4 class="text-xl font-bold">iLoveYouVirus: CodeRED</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
          suscipit dolorem consequuntur libero, iure ad eveniet corporis, quod
          explicabo voluptatum sapiente nihil magni cumque blanditiis? Ut
          repellendus quisquam facere incidunt quae iusto odio, aliquid
          mollitia, beatae adipisci dolore nihil atque.
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
      <div
        class="bg-white min-h-72 rounded-xl shadow-lg p-3 flex flex-col gap-2 transition-all hover:scale-105 hover:shadow-xl"
      >
        <img src="../../../assets/comm-ex/commex.png" alt="" />
        <h4 class="text-xl font-bold">iLoveYouVirus: CodeRED</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          dolores corporis molestias! Aperiam culpa eius aspernatur adipisci
          debitis aliquam tempora veniam iure amet, laudantium nam unde at
          suscipit facere ab saepe ullam quidem tempore ipsum. Non sit rerum
          tempora dolorem quasi natus minus itaque. Ad!
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
      <div
        class="bg-white min-h-80 rounded-xl shadow-lg p-3 flex flex-col gap-2 transition-all hover:scale-105 hover:shadow-xl"
      >
        <img src="../../../assets/comm-ex/commex.png" alt="" />
        <h4 class="text-xl font-bold">iLoveYouVirus: CodeRED</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non placeat
          harum doloremque labore ratione qui nostrum illum fuga et. Maiores
          adipisci iusto vel quae fugit amet blanditiis dolor, dolorum rerum
          illum exercitationem vero eligendi, quas eveniet odit, provident iure
          porro obcaecati. Dolorum deserunt dolores odio tempore amet esse,
          possimus assumenda, fugiat quia eligendi sapiente vel adipisci?
          Laborum nulla temporibus beatae praesentium odio nisi, voluptatum
          deserunt quos quam dignissimos aspernatur nobis.
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div
        class="bg-white min-h-54 rounded-xl shadow-lg p-3 flex flex-col gap-2 transition-all hover:scale-105 hover:shadow-xl"
      >
        <img src="../../../assets/comm-ex/commex.png" alt="" />
        <h4 class="text-xl font-bold">iLoveYouVirus: CodeRED</h4>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus,
          amet, reprehenderit doloremque rem, quasi corrupti officia veritatis
          blanditiis sunt adipisci eum fugiat exercitationem tempore porro.
          Similique, fugiat praesentium nemo quod velit sapiente beatae dolor!
          Culpa tenetur quas aliquid numquam soluta dolorem temporibus vitae
          esse rem, ipsa, eos, ut eveniet non.
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
      <div
        class="bg-white min-h-80 rounded-xl shadow-lg p-3 flex flex-col gap-2 transition-all hover:scale-105 hover:shadow-xl"
      >
        <img src="../../../assets/comm-ex/commex.png" alt="" />
        <h4 class="text-xl font-bold">iLoveYouVirus: CodeRED</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nisi
          repellat, pariatur nostrum aliquam adipisci fuga assumenda explicabo?
          Facilis sequi praesentium vitae accusantium! Rem, praesentium
          repellendus consectetur molestias minus, perspiciatis commodi nihil
          dolores placeat, ipsum dolore officiis fugit ullam ducimus ex aut
          repellat! Pariatur doloremque, architecto eligendi ratione atque,
          officia repudiandae numquam nisi tempore, nemo quos explicabo. Fugit,
          ab ad tempore adipisci excepturi magnam, maiores porro ea officiis
          deleniti nesciunt nobis autem architecto eos accusantium saepe commodi
          quam, et esse similique fuga dolorum nisi! Nihil recusandae vero,
          vitae quisquam, ab tempora veniam deleniti quo tenetur, dicta aperiam
          deserunt voluptate fugit fugiat aut! Molestiae recusandae voluptatibus
          veritatis excepturi ipsam, quam sed voluptate consequatur itaque
          placeat labore cum vitae quos quaerat eum inventore vel, reiciendis
          iure sapiente nesciunt culpa velit illo? Labore aut et, ullam nobis
          laudantium ipsa inventore autem ut aliquid minus perferendis quibusdam
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
      <div
        class="bg-white min-h-96 rounded-xl shadow-lg p-3 flex flex-col gap-2 transition-all hover:scale-105 hover:shadow-xl"
      >
        <img src="../../../assets/comm-ex/commex.png" alt="" />
        <h4 class="text-xl">iLoveYouVirus: CodeRED</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto eum
          fuga delectus quo expedita fugit quas, vero, reiciendis nisi vel
          repudiandae ipsam, facere recusandae eius aliquid commodi saepe earum
          accusamus praesentium reprehenderit minus dicta. Maxime enim eaque,
          expedita praesentium omnis fuga doloremque ducimus blanditiis in
          itaque assumenda nulla natus architecto illum tempore necessitatibus
          maiores iure alias placeat officia aliquid? Tempora ex delectus quasi
          fuga ipsa id consectetur nostrum reprehenderit, dignissimos minima
          esse consequatur aspernatur vel, porro ducimus rem dicta? Quae
          distinctio molestiae reiciendis minus, quia sequi. Laudantium
          similique excepturi natus illo nulla corporis possimus provident
          inventore nobis commodi? Velit est cumque, incidunt repellat aut odit
          officia laudantium alias expedita recusandae cupiditate delectus,
          excepturi sint ut veritatis quae suscipit perferendis veniam nemo
          eligendi odio reiciendis. Doloribus eaque excepturi consequuntur,
          necessitatibus accusamus voluptatem commodi sint adipisci laborum
          itaque dolores exercitationem mollitia soluta, inventore velit nihil
          dignissimos, odio accusantium vero ipsum placeat. Dolores!
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div
        class="bg-white min-h-96 rounded-xl shadow-lg p-3 flex flex-col gap-2 transition-all hover:scale-105 hover:shadow-xl"
      >
        <img src="../../../assets/comm-ex/commex.png" alt="" />
        <h4 class="text-xl font-bold">iLoveYouVirus: CodeRED</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
          nostrum minus non quo esse ipsum placeat et sint ipsa porro odio,
          vitae quas quae rem excepturi. Voluptatibus ut atque sapiente
          provident ex itaque debitis eligendi at iure aperiam, et velit sint
          ipsa architecto neque soluta obcaecati tenetur quasi est? Magni nam
          molestias nostrum hic tempora magnam, porro suscipit provident fugit
          non mollitia accusamus corporis, atque eius corrupti odit accusantium
          natus.
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
      <div
        class="bg-white min-h-54 rounded-xl shadow-lg p-3 flex flex-col gap-2 transition-all hover:scale-105 hover:shadow-xl"
      >
        <img src="../../../assets/comm-ex/commex.png" alt="" />
        <h4 class="text-xl font-bold">iLoveYouVirus: CodeRED</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
          repudiandae architecto deleniti aspernatur laborum reiciendis nisi
          maiores expedita doloremque saepe.
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
      <div
        class="bg-white min-h-96 rounded-xl shadow-lg p-3 flex flex-col gap-2 transition-all hover:scale-105 hover:shadow-xl"
      >
        <img src="../../../assets/comm-ex/commex.png" alt="" />
        <h4 class="text-xl font-bold">iLoveYouVirus: CodeRED</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti
          totam incidunt dicta quisquam. Nostrum quam repellendus labore!
          Corrupti doloribus dignissimos culpa, rem earum unde sequi ullam
          accusamus laborum repellendus repudiandae quisquam consequatur ipsam
          cumque. Asperiores voluptatem eius nulla accusantium ullam itaque
          repudiandae tempora corporis nisi possimus neque perspiciatis aliquid
          nam mollitia, quibusdam non a omnis recusandae dolorem necessitatibus.
          Illum temporibus id hic aliquam odio nam illo voluptate, eaque cum
          consequuntur vero aperiam ratione reiciendis sed accusamus iste quas
          quo doloribus adipisci laudantium assumenda reprehenderit a.
          Molestias, et aliquam, laborum eum dolorem mollitia blanditiis
          consequuntur accusamus voluptate odio tempore rerum nihil?
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
    </div>
  </div> -->

  <!-- .masonry {
  margin: 1.5em auto;
  column-gap: 1.5em;
}

/* The Masonry Brick */
.item {
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}
 -->

  <div class="mobileS:columns-1 tablet:columns-2 laptop:columns-3 gap-2">
    <div class="bg-blue text-white break-inside-avoid hover:scale-105 mb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nulla id in
      repellat suscipit ex magnam veniam numquam dolorem quos repudiandae natus
      earum, rem quia, officia facere non asperiores unde totam modi sapiente
      laborum quidem voluptatum! Aut velit sed, ullam tempora odit dicta
      dolores. Harum perferendis nisi dicta molestias aliquid delectus sapiente
      maiores. Porro dolorum, impedit similique hic perferendis saepe eos odio
      iusto dignissimos quo praesentium nesciunt, repellendus earum sed voluptas
      nam illo. Perspiciatis, optio? Modi minus inventore culpa sunt, voluptates
      debitis labore aliquid, deleniti maxime tempore exercitationem. Ratione at
      reiciendis nihil molestias maiores in assumenda consectetur eligendi iusto
      soluta.
    </div>
    <div class="bg-blue text-white break-inside-avoid hover:scale-105 mb-2">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati
      dolorum possimus natus ipsum, tenetur officia sint officiis expedita nulla
      unde cupiditate rem voluptatem maxime vitae quasi rerum consequuntur nam
      optio veritatis eveniet a impedit quae autem sapiente! Impedit, ab modi.
    </div>
    <div class="bg-blue text-white break-inside-avoid hover:scale-105 mb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      veritatis beatae, sunt facilis expedita nemo odio eaque voluptates aliquam
      cum sapiente tempora ratione ad necessitatibus vero reprehenderit a alias?
      Error minus eos quibusdam nulla laudantium sunt, officiis earum. Hic
      perferendis iste consectetur distinctio autem aspernatur quae temporibus,
      enim necessitatibus. Hic quos delectus in exercitationem, pariatur ipsam
      adipisci accusamus nihil quas tempore eius numquam, rem doloremque atque
      harum, libero nesciunt dignissimos.
    </div>
    <div class="bg-blue text-white break-inside-avoid hover:scale-105 mb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      veritatis beatae, sunt facilis expedita nemo odio eaque voluptates aliquam
      cum sapiente tempora ratione ad necessitatibus vero reprehenderit a alias?
      Error minus eos quibusdam nulla laudantium sunt, officiis earum. Hic
      perferendis iste consectetur distinctio autem aspernatur quae temporibus,
      enim necessitatibus. Hic quos delectus in exercitationem, pariatur ipsam
      adipisci accusamus nihil quas tempore eius numquam, rem doloremque atque
      harum, libero nesciunt dignissimos.
    </div>
    <div class="bg-blue text-white break-inside-avoid hover:scale-105 mb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      veritatis beatae, sunt facilis expedita nemo odio eaque voluptates aliquam
      cum sapiente tempora ratione ad necessitatibus vero reprehenderit a alias?
      Error minus eos quibusdam nulla laudantium sunt, officiis earum. Hic
      perferendis iste consectetur distinctio autem aspernatur quae temporibus,
      enim necessitatibus. Hic quos delectus in exercitationem, pariatur ipsam
      adipisci accusamus nihil quas tempore eius numquam, rem doloremque atque
      harum, libero nesciunt dignissimos.
    </div>
    <div class="bg-blue text-white break-inside-avoid hover:scale-105 mb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      veritatis beatae, sunt facilis expedita nemo odio eaque voluptates aliquam
      cum sapiente tempora ratione ad necessitatibus vero reprehenderit a alias?
      Error minus eos quibusdam nulla laudantium sunt, officiis earum. Hic
      perferendis iste consectetur distinctio autem aspernatur quae temporibus,
      enim necessitatibus. Hic quos delectus in exercitationem, pariatur ipsam
      adipisci accusamus nihil quas tempore eius numquam, rem doloremque atque
      harum, libero nesciunt dignissimos.
    </div>
    <div class="bg-blue text-white break-inside-avoid hover:scale-105 mb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      veritatis beatae, sunt facilis expedita nemo odio eaque voluptates aliquam
      cum sapiente tempora ratione ad necessitatibus vero reprehenderit a alias?
      Error minus eos quibusdam nulla laudantium sunt, officiis earum. Hic
      perferendis iste consectetur distinctio autem aspernatur quae temporibus,
      enim necessitatibus. Hic quos delectus in exercitationem, pariatur ipsam
      adipisci accusamus nihil quas tempore eius numquam, rem doloremque atque
      harum, libero nesciunt dignissimos.
    </div>
    <div class="bg-blue text-white break-inside-avoid hover:scale-105 mb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      veritatis beatae, sunt facilis expedita nemo odio eaque voluptates aliquam
      cum sapiente tempora ratione ad necessitatibus vero reprehenderit a alias?
      Error minus eos quibusdam nulla laudantium sunt, officiis earum. Hic
      perferendis iste consectetur distinctio autem aspernatur quae temporibus,
      enim necessitatibus. Hic quos delectus in exercitationem, pariatur ipsam
      adipisci accusamus nihil quas tempore eius numquam, rem doloremque atque
      harum, libero nesciunt dignissimos.
    </div>
  </div>
</div>
