<section class="bg-white p-8 flex flex-col rounded-[25px] shadow-lg gap-2">
  <h4 class="text-[40px] font-Poppins font-semibold">Faculty Overview</h4>
  <hr />
  <div class="flex flex-row gap-3 flex-wrap text-white">
    <div
      class="box-shadow items-center flex-auto flex flex-col p-2 rounded-[25px] gap-2"
    >
      <h4 class="text-blue text-3xl font-bold">Faculty</h4>
      <canvasjs-chart
        [options]="chartOptions"
        [styles]="{ width: '250px', height: '150px' }"
      ></canvasjs-chart>
    </div>
    <div
      class="box-shadow items-center flex-auto flex flex-col p-2 rounded-[25px] gap-2"
    >
      <h4 class="text-blue text-3xl font-bold">Colleges</h4>
      <canvasjs-chart
        [options]="colleges"
        [styles]="{ width: '250px', height: '150px' }"
      ></canvasjs-chart>
    </div>
    <div
      class="box-shadow items-center flex-auto flex flex-col p-2 rounded-[25px] gap-2"
    >
      <h4 class="text-blue text-3xl font-bold">Status</h4>
      <canvasjs-chart
        [options]="status"
        [styles]="{ width: '250px', height: '150px' }"
      ></canvasjs-chart>
    </div>
  </div>
</section>

<!-- <app-faculty-box
    *ngFor="let member of facultyMembers"
    [member]="member"
  ></app-faculty-box> -->
<app-faculty-section> </app-faculty-section>
<app-pagination (params)="getFacultyMembers($event)"></app-pagination>
