<div
  class="min-h-screen bg-white2 p-5 max-w-screen-fourk ml-60 flex flex-col gap-3 text-blue"
>
  <section class="bg-white p-8 flex flex-col rounded-[25px] shadow-lg gap-2">
    <h4 class="text-[40px] font-Poppins font-semibold">Faculty Overview</h4>
    <div class="flex flex-row gap-3 flex-wrap text-white">
      <div class="bg-blue flex-auto flex flex-col p-2 rounded-[25px] gap-2">
        <h4 class="text-center">Faculty</h4>
        <div class="flex">
          <img src="../../../assets/admin/Profiles.png" alt="" />
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div>
      </div>
      <div class="bg-blue flex-auto flex flex-row p-2 rounded-[25px] gap-2">
        <div class="flex-none">
          <img src="../../../assets/admin/Profiles.png" alt="" />
        </div>
        <div class="flex-auto">
          <div>
            <h4 class="text-lg font-bold">EVALUATION AVERAGE</h4>
          </div>
          <div class="flex flex-row">
            <div class="flex-auto text-6xl font-bold">5.0</div>
            <div class="flex-1">
              <p>Full Time: 8</p>
              <p>Part TIme: 1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-blue flex-auto flex flex-row p-2 rounded-[25px] gap-2">
        <div class="flex-none">
          <img src="../../../assets/admin/Profiles.png" alt="" />
        </div>
        <div class="flex-auto">
          <div>
            <h4 class="text-lg font-bold">IN-CLASS</h4>
          </div>
          <div class="flex flex-row">
            <div class="flex-auto text-6xl font-bold">4</div>
            <div class="flex-1">
              <p>Full Time: {{ fulltimeInclass }}</p>
              <p>Part TIme: {{ parttimeInclass }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <app-faculty-box
    *ngFor="let member of facultyMembers"
    [member]="member"
  ></app-faculty-box> -->
  <app-faculty-section> </app-faculty-section>
  <app-pagination (params)="getFacultyMembers($event)"></app-pagination>
</div>
