li {
  position: relative;
  width: 100%;
  display: block;
}

li a {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 400;
  color: white;
}

li a:hover {
  background-color: white;
  border-left: 8px solid #1e7242;
  color: #074287;
  transition: all 0.1s;
}

li a.selected {
  background-color: white;
  border-left: 8px solid #1e7242;
  color: #074287;
  transition: all 0.2s;
}



/* a:hover::before {
  box-shadow: 10px 4px white;
}

a:hover::after {
  box-shadow: 10px -4px 0 white;
}

a:hover {
  box-shadow: -20px 0 0 white;
} */
