<div
  class="flex flex-wrap gap-2 justify-center bg-white shadow-lg px-6 py-3 rounded-2xl"
  *ngIf="schedules.length > 0; else noSchedule"
>
  <div
    class="flex-initial bg bg-gradient-to-r bg-blue px-5 py-2 rounded-xl"
    *ngFor="let schedule of schedules"
  >
    <div>
      <p class="text-2xl text-white">{{ schedule.courseID }}</p>
    </div>
    <div>
      <p class="text-2xl text-white">
        {{ schedule.start }} AM - {{ schedule.end }} AM
      </p>
    </div>
  </div>
</div>
<ng-template #noSchedule>
  <div
    class="flex flex-wrap gap-2 justify-center items-center bg-white shadow-lg px-6 py-3 rounded-2xl"
  >
    <p class="text-center">No schedules available</p>
  </div>
</ng-template>
