<div
  class="flex flex-col gap-2 justify-center text-center bg-white shadow-lg px-6 py-3 rounded-[25px]"
  *ngIf="schedules.length > 0; else noSchedule"
>
  <div
    class="w-full  bg bg-gradient-to-r bg-blue px-5 py-2 rounded-[25px]"
    *ngFor="let schedule of schedules"
  >
    <div>
      <p class="text-2xl font-Poppins font-semibold text-white">{{ schedule.courseID }}</p>
    </div>
    <div>
      <p class="text-2xl text-white">
        {{ schedule.start }} AM - {{ schedule.end }} AM
      </p>
    </div>
  </div>
</div>
<ng-template #noSchedule>
  <div
    class="flex flex-wrap gap-2 justify-center font-Roboto font-semibold text-[1.2rem] items-center bg-white shadow-lg px-6 py-3 rounded-2xl"
  >
    <p class="text-center">No schedules available</p>
  </div>
</ng-template>
