<div
  class="bg-gradient-to-b from-blue to-green min-h-screen grid grid-cols-2 text-white font-Montserrat"
>
  <div class="p-5">
    <div class="p-10">
      <h1 class="text text-9xl font-extrabold">GC-FAMS</h1>
      <p class="text- text-3xl">Faculty Assessment and Monitoring System</p>
    </div>
    <img
      src="../../../assets/img/Logo_mockup 1.png"
      alt="GCFAMS Logo"
      class="aspect-square w-8/12 max-w-screen-md"
    />
  </div>
  <div>
    <div class="bg-blue p-5 rounded-lg">
      <p class="p-10 text-center">Welcome</p>
      <form
        action=""
        class="flex flex-col justify-center items-center bg-white2 p-7 rounded-lg gap-2"
      >
        <input
          type="text"
          placeholder="Username"
          class="px-5 py-2 rounded-sm text-blue"
        />
        <input
          type="password"
          placeholder="Password"
          class="px-5 py-2 rounded-sm text-blue"
        />
        <a href="" class="text-end text-blue">Forgot Password?</a>
        <input
          type="submit"
          value="Login"
          class="bg-blue rounded-full py-2 px-20 max-w-min"
        />
      </form>
    </div>
  </div>
</div>
