<div
  class="bg-gradient-to-b from-blue to-green flex items-center mobileS:flex-col mobileS:justify-center tablet:items-center tablet:flex-row min-h-svh text-white font-Montserrat content-center relative"
>
  <div
    class="flex flex-col items-center z-10 gap-10 mobileS:w-full tablet:w-1/2"
  >
    <div class="mobileS:hidden tablet:inline">
      <h1
        class="text-4xl tablet:text-5xl laptop:text-7xl laptopL:text-8xl font-extrabold"
      >
        {{ title }}
      </h1>
      <p class="text-xl tablet:text-base laptop:text-xl laptopL:text-2xl">
        {{ subTitle }}
      </p>
    </div>
    <img
      src="../../../assets/img/Logo_mockup 1.png"
      alt="GCFAMS Logo"
      class="aspect-square w-7/12 max-w-screen-sm min-w-72"
    />
  </div>
  <div
    class="flex mobileS:justify-center tablet:justify-start items-center z-10 mobileS:w-full tablet:w-1/2"
  >
    <div
      class="bg-blue p-5 rounded-2xl tablet:w-10/12 laptop:w-8/12 max-w-screen-md"
    >
      <p class="p-5 text-center text-2xl font-semibold">Welcome</p>

      <form
        action=""
        class="flex flex-col justify-center items-center bg-white2 p-7 rounded-lg gap-5"
      >
        <input type="checkbox" id="switch" class="hidden peer" />

        <label
          for="switch"
          class="relative w w-8/12 py-4 bg-white rounded-full after:py-1 after:absolute after:w-1/2 after:h-full after:rounded-full after:bg-blue after:top-0 after:left-0 after:transition-all after:duration-150 after:content-['Dean'] after:text-center after:font-bold peer-checked:after:left-1/2 peer-checked:after:content-['Faculty']"
        >
          <span
            class="absolute top-0 inset-x-1/2 right-0 text-blue text-center font-bold py-1"
            >Faculty</span
          >

          <span
            class="absolute top-0 inset-x-1/2 left-0 text-blue text-center font-bold py-1"
            >Dean</span
          >
        </label>
        <input
          type="text"
          placeholder="Username"
          class="px-5 py-2 rounded-sm text-blue w-full shadow-lg"
        />
        <input
          type="password"
          placeholder="Password"
          class="px-5 py-2 rounded-sm text-blue w-full shadow-lg"
        />
        <a href="" class="text-end text-blue justify-self-end"
          >Forgot Password?</a
        >
        <input
          type="submit"
          value="Login"
          class="bg-blue rounded-full py-2 px-20 max-w-min"
        />
      </form>
    </div>
  </div>
  <svg
    viewBox="0 0 1920 680"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute bottom-0 z-1 min-w-screen w-screen h-screen/2 m mobileS:hidden tablet:inline"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M-74.8601 60.6017C269.017 -137.637 564.29 212.252 918.029 272.263C1288.3 335.079 1826.7 104.576 1987.98 410.558C2151.92 721.568 1813.1 1139.38 1542.78 1457.51C1327.08 1711.38 1016.99 1816.85 702.97 1922.93C317.18 2053.25 -131.551 2322.52 -415.887 2119.16C-705.003 1912.39 -541.151 1452.9 -478.98 1077.61C-418.726 713.896 -428.329 264.37 -74.8601 60.6017Z"
      fill="white"
    />
  </svg>
</div>
