<ng-container *ngIf="i === 0 || i === 14">
    <div class="rounded-full bg-mainGray w-[50px] h-[50px] flex justify-center items-center opacity-30 hover:shadow-xl hover:duration-300">
        <p class="select-nonetext-center text-white text-[1.6rem] font-Poppins font-semibold p-0 m-0 select-none">
            {{date}}
        </p>
    </div>
</ng-container>
<ng-container *ngIf="i === 1 || i === 13">
    <div class="rounded-full bg-mainGray w-[50px] h-[50px] flex justify-center items-center opacity-60 hover:shadow-xl hover:duration-300">
        <p class="text-center text-white text-[1.6rem] font-Poppins font-semibold p-0 m-0 select-none">
            {{date}}
        </p>
    </div>
</ng-container>
<ng-container *ngIf="i === 2 || i === 12">
    <div class="rounded-full bg-mainGray w-[50px] h-[50px] flex justify-center items-center opacity-80 hover:shadow-xl hover:duration-300">
        <p class="text-center text-white text-[1.6rem] font-Poppins font-semibold p-0 m-0 select-none">
            {{date}}
        </p>
    </div>
</ng-container>
<ng-container *ngIf="i === 3 || i === 4 || i === 5 || i === 6 || i === 8 || i === 9 || i === 10 || i === 11">
    <div class="rounded-full bg-mainGray w-[50px] h-[50px] flex justify-center items-center hover:shadow-xl hover:duration-300">
        <p class="text-center text-white text-[1.6rem] font-Poppins font-semibold p-0 m-0 select-none">
            {{date}}
        </p>
    </div>
</ng-container>
<ng-container *ngIf="i === 7">
    <div class="rounded-full bg-blue w-[50px] h-[50px] flex justify-center items-center hover:shadow-xl hover:duration-300">
        <p class="text-center text-white text-[1.6rem] font-Poppins font-semibold p-0 m-0 select-none">
            {{date}}
        </p>
    </div>
</ng-container>